.pagination {
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.item-head {
  border: 1px solid black;
  padding: 0.5rem;
}

ul li a {
  align-items: center;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.page-items ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  gap: 1rem;
}

ul li.active a {
  color: white;
}
ul li.active {
  background-color: #337ab7;
}

ul li a:hover,
ul li a.active {
  color: blue;
}

.page-selection {
  width: 5rem;
  height: 3rem;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
